<section id="ladonaira">

    <div class="background-image fullscreen"
        style="background-image: url('./la-donaira-nature.jpg');"></div>

    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor is-vertical">
                    <div class="tile is-parent">
                        <div class="tile is-4" style="padding-top:3rem;">
                            <div class="tile is-child box">
                                <img src="./la-donaira-1.jpg">
                            </div>
                        </div>
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child box is-8" >
                                <div class="card">
                                    <div class="card-content">
                                        <div class="content">
                                            <h1 class="subtitle is-title is-size-4">In 2014 I designed and implemented a quite sophisticated lighting-controll-system for 
                                                <a href="https://ladonaira.com/" target="_blank" class="fancy-link">Finca La Donaira</a>. 
                                            </h1>
                                            <!-- <p>
                                                All switches inside the building are little microcontrollers communicating with a central server that dispatches DMX-512 Signals to the light-fixtures.
                                                The Microcontrollers were programmed in Arduino. The server runs on Clojure. The UI is written in Clojurescript.
                                            </p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" tile is-child box">
                                <figure class="video_container" style="margin-left: 3rem;">
                                    <video controls="true" allowfullscreen="true" poster="./la-donaira-living-room.jpg" muted="true" >
                                        <source src="./video.webm" type="video/webm">
                                    </video>
                                </figure>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
