
$black:        hsl(0, 0%, 4%);
$black-bis:    hsl(0, 0%, 7%);
$black-ter:    rgb(35, 35, 35);

$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$white-ter:    hsl(0, 0%, 96%);
$white-bis:    hsl(0, 0%, 98%);
$white:        hsl(0, 0%, 100%);

$orange:       #DC4F39;
// $orange:       hsl(14,  100%, 53%);
$yellow:       hsl(48,  100%, 67%);
$green:        hsl(141, 71%,  48%);
$turquoise:    hsl(171, 100%, 41%);
$cyan:         hsl(204, 86%,  53%);
$blue:         hsl(217, 71%,  53%);
$purple:       hsl(271, 100%, 71%);
$red:          hsl(348, 100%, 61%);

// Typography;
$family-sans-serif: "HelveticaNeueLTPro", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-display: "FAT", -apple-system, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: monospace;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
                                            
$margin-s: 0.5rem;
$margin: 1rem;
$text: $black;
$blue: #757B94;

$primary: $orange;

$body-background-color: $white-ter;

// $weight-light: 300;
// $weight-normal: 400;
// $weight-medium: 500;
// $weight-semibold: 600;
// $weight-bold: 700;
$weight-black: 900;

$link: $text;

$navbar-height: 4rem;
$navbar-padding-vertical: 2rem;
$navbar-background-color: $body-background-color;

// $card-shadow: -2px -2px 0px 0px $black, 10px 10px 0px 0px $black;

$radius: 2px;

$box-radius: $radius;
$box-shadow: none;
// $box-background-color: $grey-lighter;
$box-background-color: transparent;


$input-color: $black;
$input-background-color: $white;
$input-border-color: $black;
$input-shadow: none;
$input-placeholder-color: rgba($input-color, 0.3);
