html, body {
    // height: 100%;
    width: 100vw;
    background: $body-background-color;
}

// #gl {
//     height: 100vh;
//     width: 100vw;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: -1;
// }


#content {
    display: flex;
    flex-direction: column;
}

nav.navbar {
    background-color: $navbar-background-color;
    height: $navbar-height;
}

section {
    flex: 0 0 auto;
    margin-bottom: 2rem;
    position: relative;
}


.background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


.clickable {
    pointer-events: all;
}

.display {
    font-family: $family-display;
}



.highlight {
    border: 4px solid palevioletred;
    box-shadow: 10px 10px 0px 0px palevioletred;
    margin-top: -10px;
    margin-left: -10px;
}

.hint {
    @extend .is-size-7;
}


.fancy-link {
    /* RESET */
    text-decoration: none;
    line-height: 1;
    
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    // top: 5px;
    // margin: -5px -5px;
    overflow: hidden;
    // color: #333;
    vertical-align: bottom;
    transition: color .3s ease-out;
 }
 
 .fancy-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-color: $orange;
    transition: transform .25s ease-out;
 }
 
 .fancy-link:hover { 
    color: $grey-lighter; 
 }
 .fancy-link:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
 }



// .glitch {
//     color: white;
//     font-family: sans-serif;
//     font-weight: 800;
//     position: relative;
//     font-size: 100px;
//     padding: 30px; 

    
//   &::before, &::after {
//     padding: 30px; 
//     color: white; 
//     content: "Glitch"; 
//     position: absolute; 
//     width: 100%; 
//     height: 100%; 
//     background: black; 
//     overflow: hidden; 
//     top: 0; 
// }
  
//   &::before{
//     left: 3px;
//     text-shadow: -2px 0 red;
//     animation-name: glitch-animation-1;
//     animation-duration: 2s;
//     animation-timing-function: linear;
//     animation-delay: 0s;
//     animation-iteration-count: infinite;
//     animation-direction: reverse-alternate;
// }
    

// &::after{
//     left: -3px;
//     text-shadow: -2px 0 blue;
//     animation-name: glitch-animation-2;
//     animation-duration: 2s;
//     animation-timing-function: linear;
//     animation-delay: 0s;
//     animation-iteration-count: infinite;
//     animation-direction: reverse-alternate;}
// }

  
// @keyframes glitch-animation-1{
//     $steps: 20;
//     @for $i from 0 through $steps {
//         #{percentage($i*(1/$steps))} {
//             clip: rect(random(150)+px, 350px, random(150)+px, 30px);
//         }
//     }
// }
    
// @keyframes glitch-animation-2{
//     $steps: 20;
//     @for $i from 0 through $steps {
//         #{percentage($i*(1/$steps))} {
//             clip: rect(random(150)+px, 350px, random(150)+px, 30px)
//         }
//     }
// }