#projects {
    display: flex;
    flex-direction: column;
}


#hello {
    width: 100vw;
    height: 81vh;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;

    canvas {
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        pointer-events: none;
    }

    .section {
        flex: 1 0 auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero {
        z-index: 2;
        flex: 0 0 auto;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    #contact-info {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        align-items: flex-start;
        // border: 2px solid palevioletred;
        a {
            flex: 0 1 auto;
        }
}

}

#webgl {
    position: relative;
    width: 100vw;
    height: 100vh;

    #webgl-background {
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
    }

    #webgl-foreground {
       z-index: 2;
    }
}


#substrate {
    position: relative;
    width: 100vw;
    height: 50vh;

    canvas {
        position: absolute;
        top:0;
        left:0;
        border: 2px solid black;
    }
}

#stippling {
    width: 100vw;
    height: 100vh;

    canvas {
        border: 2px solid palevioletred;
    }
}

#ladonaira {
    padding-bottom: 8rem;
    overflow: hidden;
}

#diploma {
    margin-bottom: 4rem;
}

#websites {
    .iframe-wrapper {
        width: 600px;
    }

    #beetwo-frame {
        width: 600px;
        height: 400px;
    }
}

#misc {
    margin-bottom: 8rem;
}