<section>
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor is-vertical">

                    <div class="tile is-parent ">
                        <div class="tile is-child is-4 box">
                            <h1 class="title is-1">
                                Die geometrische Sensation
                            </h1>
                            <p>Here my friends and I build a big shiny cube and made it blink.</p>
                        </div>
                        
                        <div class="tile is-child box">
                            <img src="./sensation_00.jpg">
                        </div>
                    </div>
                    <div class="tile is-parent is-vertical">
                    
                        <div class="tile ">
                            <div class="tile is-child box">
                                <figure class="video_container highlight">
                                    <video controls="true" allowfullscreen="true" poster="./sensation_poster.png">
                                        <source src="./sensation.mp4" type="video/mp4">
                                        <source src="./sensation.ogg" type="video/ogg">
                                        <source src="./sensation.webm" type="video/webm">
                                    </video>
                                </figure>
                            </div>
                            <div class="tile is-child box">
                                <img src="./BAM_OIDA100.jpg">
                            </div>
                        </div>

                        <div class="tile ">
                            <div class="tile is-child box">
                                <img src="./sensation_04.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./sensation_05.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
