<section>
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor is-vertical">

                    <div class="tile is-parent ">
                        <div class="tile is-child is-8 box">
                            <h1 class="title is-1">
                                Triangle thingy
                            </h1>
                            <small>That one must have  been around 2008</small>
                            <br></br>
                            <p>Thats one of these voironoi-triangulation-thingies. Load an image, generate points using hillbilly-feature-detection™, render them triangles.</p>
                            <p>Written in Processing.</p>
                        </div>
                    </div>
                    <div class="tile is-parent is-vertical">

                        <!-- <div class="tile is-vertical">
                            <div class="tile is-child box">
                                <img src="./panorama_02.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./panorama_01.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./panorama_03.jpg">
                            </div>
                        </div> -->
                    
                        <div class="tile is-10 ">
                            <div class="tile is-child box">
                                <img src="./agnes_01.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./agnes_02.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./agnes_03.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
