<section id="websites">
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor is-vertical">

                    <div class="tile is-parent is-vertical ">
                        <div class="tile is-child box">
                            <h1 class="title is-title is-size-2">Websites</h1>
                            <p>
                                I build websites. I made some for <a href="https://george-labs.com/" class="fancy-link" target="_blank">Erste Bank</a>, 
                                for <a href="https://www.ar.tum.de" class="fancy-link" target="_blank">Technische Universität München</a>, for 
                                <a href="https://www.toursprung.com" class="fancy-link" target="_blank">Toursprung</a>, for 
                                <a href="http://www.victusundmili.at/" class="fancy-link" target="_blank">Victus & Mili</a>.
                                Unfortunately, most of them are either not publicly accessible or have become defunct.
                            </p>
                            <p>
                                Here's one that's still online. I've build if for BeeTwo. At that time I was also the lead developer for some of their Products.
                            </p>
                            <br/>
                            <h2 class="subtitle is-title is-size-3">
                                    <a href="https://www.beetwo.at/" class="fancy-link" target="_blank">BeeTwo — where digital innovation meets social impact</a>
                            </h2>
                        </div>
                        <!-- <div class="tile is-child box">
                            <div class="card iframe-wrapper ">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="./beetwo_16.gif">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
