<section id="hello">
    <section class="section">
        <div class="container">
            <div id="contact-info">
                    <a class="fancy-link clickable" href="mailto:hello@lowi.dev">hello@lowi.dev</a>
                    <a class="fancy-link clickable" href="https://www.google.com/maps/place/Springergasse+9,+1020+Wien/@48.2202182,16.3840917,16.15z" target="_blank">Springergasse 9/29, 1020 Wien</a>
                    <a href="./CV.txt" target="_blank" class="is-uppercase fancy-link">cv</a>
                            <!-- <a class="fancy-link clickable" href="tel:+4368110776554">+43 681 10776554</a> -->
            </div>
             <div id="teaser" class="columns is-vcentered">
                    <div class="column is-8">
                        <h1 class="title is-title is-size-4">Some of of the things I've made (or stolen)</h1>
                    </div>
                </div>
               
        </div>
    </section>
</section>
