<section id="leberkas">
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor">
                    <div class="tile is-parent  is-4">
                        <div class="tile is-child box">
                            <h1 class="title is-title is-size-4">Once I built a swing-mechanism for 
                                <a href="http://catharinabond.com/theodor" target="_blank" class="fancy-link">Theodor</a>, 
                                Chatharina Bond's <span style="font-style: italic;">skin-friendly scalded sausage with discreet wrinkles</span>.
                            </h1>
                        </div>
                    </div>
                    <div class="tile is-parent is-vertical">
                        <div class="tile ">
                             <div class="tile is-child box">
                                <img src="./theodor.gif">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
