<section id="diploma">
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor is-vertical">

                    <div class="tile is-parent ">
                        <div class="tile is-child box">
                            <h1 class="title is-title is-size-4">My Diploma thesis</h1>
                            <h2 class="subtitle is-title is-size-6">
                                "Lucid explorations in personal projection"
                            </h2>

                            <p class="hint">
                                <a href="./thesis.pdf" class="fancy-link" target="_blank">download</a>
                            </p>
                        </div>
                    </div>
                    <div class="tile is-parent is-vertical">
                        <div class="tile ">
                             <div class="tile is-8 is-child box">
                                <img src="./diploma_01.jpg">
                            </div>
                            <div class="tile is-vertical">
                                <div class="tile is-child box">
                                    <img src="./diploma_04.jpg">
                                </div>
                                <div class="tile is-child box">
                                    <img src="./diploma_05.jpg">
                                </div>
                            </div>
                        </div>
                    

                        <div class="tile ">
                             <div class="tile is-child box">
                                <img src="./diploma_08.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./diploma_07.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./diploma_09.jpg">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
