<section id="leberkas">
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor is-vertical">
                    <div class="tile is-parent ">
                        <div class="tile is-child box">
                            <h1 class="title is-title is-size-4">A sophisticated plastic girl</h1>
                            <p class="hint">2007</p>
                            <p>For Julia Seises' fashion diploma at the Angewandte, we made a blinking collection.</p>
                        </div>
                    </div>
                    <div class="tile is-parent is-10 is-vertical">
                        <div class="tile ">
                             <div class="tile is-child box">
                                <img src="./08.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./12.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent is-10 is-vertical">
                        <div class="tile ">
                            <div class="tile is-child box">
                                <img src="./julia_01.jpg">
                            </div>
                            <div class="tile is-child box">
                                <img src="./22.jpg">
                            </div>
                            <!-- <div class="tile is-child box">
                                <img src="./julia_02.jpg">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
