<section id="kitchen">
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor is-vertical">
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <h1 class="title is-title is-size-4">
                                I've planned and built me own kitchen.
                            </h1>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div id="kitchen-gallery" class="tile gallery">
                           
                            <div class="tile is-child box">
                                <a href="#Annotation_01">
                                    <img src="./Annotation_01.png" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="Annotation_01">
                                    <img src="./Annotation_01.png">
                                </a>
                            </div>
                            <div class="tile is-child box">
                                 <a href="#Annotation_02">
                                    <img src="./Annotation_02.png" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="Annotation_02">
                                    <img src="./Annotation_02.png">
                                </a>
                            </div>
                            <div class="tile is-child box">
                                <a href="#P1110935">
                                <img src="./P1110935.jpg" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="P1110935">
                                <img src="./P1110935.jpg">
                                </a>
                            </div>
                            <div class="tile is-child box">
                                <a href="#holz_02">
                                <img src="./holz_02.jpg" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="holz_02">
                                <img src="./holz_02.jpg">
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
