<section id="speakers">
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor">
                    <div class="tile is-parent  is-4">
                        <div class="tile is-child box">
                            <h1 class="title is-title is-size-4">I sometimes build loudspeakers</h1>
                            <h2 class="subtitle is-title is-size-6">
                                This one is the nicest pair I've made so far.
                            </h2>
                        </div>
                    </div>
                    <div class="tile is-parent is-vertical">
                        <div class="tile ">
                             <div class="tile is-child box">
                                <a href="#speaker-amp">
                                    <img src="./speaker_and_amp.jpg" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="speaker-amp">
                                    <img src="./speaker_and_amp.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
