<section class="hero">
  <div class="contaier">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
    <div class="hero-body">
      <h1 class="title is-1">
        Flow Field
      </h1>
       <p>That's a <a href="processing.org">Processing</a> sketch simulating a force-field particle-system. When one types a message the particles congregate to form the letters.</p>
       <p class="hint">The jitter in the video below is due to the bad screen capture. Normally it runs pretty smoothly —all things considered.</p>
          <br/>
           <figure class="video_container">
            <video controls="true" allowfullscreen="true" poster="./flow_field_poster.jpg">
              <!-- <source src="./flow_field.mp4" type="video/mp4"> -->
              <!-- <source src="./flow_field.ogg" type="video/ogg"> -->
              <source src="./flow_field.webm" type="video/webm">
            </video>
          </figure>

        </div>
      </div>
    </div>
  </div>
</section>
