<section id="misc">
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor  is-vertical">
                    <div class="tile is-parent">
                        <div class="tile is-child is-6 box">
                            <h1 class="title is-1">
                                Here's some more pictures
                            </h1>
                        </div>
                    </div>

                    <div id="misc-gallery" class="tile is-parent is-vertical">
                            
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <a href="#glove">
                                    <img src="./glove.jpg" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="glove">
                                    <img src="./glove.jpg">
                                </a>
                            </div>
                            <div class="tile is-child box" style="padding-top:9rem;">
                                <a href="#ny02">
                                <img src="./ny02.jpg" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="ny02">
                                <img src="./ny02.jpg">
                                </a>
                            </div>
                            <div class="tile is-4 is-vertical"  style="padding-top:1rem;">
                                <div class="tile is-child box">
                                    <a href="#bag">
                                        <img src="./bag.jpg" class="thumbnail">
                                    </a>
                                    <a href="#_" class="lightbox" id="bag">
                                        <img src="./bag.jpg">
                                    </a>
                                </div>
                                <div class="tile is-child box">
                                    <a href="#waterfall">
                                        <img src="./waterfall.jpg" class="thumbnail">
                                    </a>
                                    <a href="#_" class="lightbox" id="waterfall">
                                        <img src="./waterfall.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="tile is-parent">
                            <div class="tile is-4 is-vertical">
                                <div class="tile is-child box"  style="padding-top:10rem;">
                                    <a href="#bam03">
                                        <img src="./bam03.jpg" class="thumbnail">
                                    </a>
                                    <a href="#_" class="lightbox" id="bam03">
                                        <img src="./bam03.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-parent">
                                    <div class="tile is-child box">
                                        <a href="#printed-housing">
                                        <img src="./printed-housing.jpg" class="thumbnail">
                                        </a>
                                        <a href="#_" class="lightbox" id="printed-housing">
                                        <img src="./printed-housing.jpg">
                                        </a>
                                    </div>
                                    <div class="tile is-child box">
                                        <a href="#string-projection">
                                        <img src="./string-projection.jpg" class="thumbnail">
                                        </a>
                                        <a href="#_" class="lightbox" id="string-projection">
                                        <img src="./string-projection.jpg">
                                        </a>
                                    </div>
                                </div>
                                <div class="tile is-parent">
                                    <div class="tile is-child box is-10" style="padding-left: 5rem;">
                                        <a href="#bam01">
                                        <img src="./bam01.jpg" class="thumbnail">
                                        </a>
                                        <a href="#_" class="lightbox" id="bam01">
                                        <img src="./bam01.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child box">
                                    <a href="#karreAmStrand">
                                    <img src="./karreAmStrand.jpg" class="thumbnail">
                                    </a>
                                    <a href="#_" class="lightbox" id="karreAmStrand">
                                    <img src="./karreAmStrand.jpg">
                                    </a>
                                </div>

                                <div class="tile is-child box">
                                    <a href="#buzzers">
                                    <img src="./buzzers.jpg" class="thumbnail">
                                    </a>
                                    <a href="#_" class="lightbox" id="buzzers">
                                    <img src="./buzzers.jpg">
                                    </a>
                                </div>
                                 <div class="tile is-child box">
                                <a href="#amp">
                                <img src="./amp.jpg" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="amp">
                                <img src="./amp.jpg">
                                </a>
                            </div>
                            </div>

                           
                           
                            <div class="tile is-child box is-8">
                                <a href="#ny01">
                                <img src="./ny01.jpg" class="thumbnail">
                                </a>
                                <a href="#_" class="lightbox" id="ny01">
                                <img src="./ny01.jpg">
                                </a>
                            </div>
                         
                            
                        </div>
                        
                    </div>
                </div>
                <p> 2020 — 
                    <a class="fancy-link" href="https://lowi.dev">
                        Stephan Lohwasser
                    </a>
                </p>
            </div>
        </div>
    </div>


   
    
</section>
